# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [2]:
# your code here

import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user = "root",
                              password = "Lula2023",
                              host = "localhost",
                              database = "sakila")

In [3]:
cnx.is_connected() #Checking if connection is open

True

In [4]:
cursor = cnx.cursor()
query = ("SELECT * FROM sakila.actor;")
cursor.execute(query)
results = cursor.fetchall()
results

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33))]

In [12]:
query = ("""SELECT * 
         FROM sakila.actor 
         INNER JOIN sakila.film_actor
         ON sakila.film_actor.actor_id = sakila.actor.actor_id;""")

cursor.execute(query)
results = cursor.fetchall()
results

#Joining the film_id to the table based on matching actor_id

[(1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  1,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  23,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  25,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  106,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  140,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  166,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  277,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  361,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  438,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  499,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  506,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  509,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  605,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  635,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  749,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  832,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  939,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  970,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (1,
  'PENELOPE',
  'GUINESS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  1,
  980,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  3,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  31,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  47,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  105,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  132,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  145,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  226,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  249,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  314,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  321,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  357,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  369,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  399,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  458,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  481,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  485,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  518,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  540,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  550,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  555,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  561,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  742,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  754,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  811,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (2,
  'NICK',
  'WAHLBERG',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  2,
  958,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  17,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  40,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  42,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  87,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  111,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  185,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  289,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  329,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  336,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  341,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  393,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  441,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  453,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  480,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  539,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  618,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  685,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  827,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  966,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  967,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  971,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (3,
  'ED',
  'CHASE',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  3,
  996,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  23,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  25,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  56,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  62,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  79,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  87,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  355,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  379,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  398,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  463,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  490,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  616,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  635,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  691,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  712,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  714,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  721,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  798,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  832,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  858,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  909,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (4,
  'JENNIFER',
  'DAVIS',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  4,
  924,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  19,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  54,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  85,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  146,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  171,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  172,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  202,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  203,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  286,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  288,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  316,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  340,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  369,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  375,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  383,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  392,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  411,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  503,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  535,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  571,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  650,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  665,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  687,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  730,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  732,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  811,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  817,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  841,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (5,
  'JOHNNY',
  'LOLLOBRIGIDA',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  5,
  865,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  29,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  53,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  60,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  70,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  112,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  164,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  165,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  193,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  256,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  451,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  503,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  509,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  517,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  519,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  605,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  692,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  826,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  892,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  902,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (6,
  'BETTE',
  'NICHOLSON',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  6,
  994,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  25,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  27,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  35,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  67,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  96,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  170,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  173,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  217,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  218,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  225,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  292,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  351,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  414,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  463,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  554,
  datetime.datetime(2006, 2, 15, 5, 5, 3)),
 (7,
  'GRACE',
  'MOSTEL',
  datetime.datetime(2006, 2, 15, 4, 34, 33),
  7,
  618,

In [14]:
actors_df = pd.DataFrame(results) #Transforming the whole result in a dataframe
actors_df.head()

   0         1        2                   3  4    5                   6
0  1  PENELOPE  GUINESS 2006-02-15 04:34:33  1    1 2006-02-15 05:05:03
1  1  PENELOPE  GUINESS 2006-02-15 04:34:33  1   23 2006-02-15 05:05:03
2  1  PENELOPE  GUINESS 2006-02-15 04:34:33  1   25 2006-02-15 05:05:03
3  1  PENELOPE  GUINESS 2006-02-15 04:34:33  1  106 2006-02-15 05:05:03
4  1  PENELOPE  GUINESS 2006-02-15 04:34:33  1  140 2006-02-15 05:05:03

In [15]:
cursor.description
[head[0] for head in cursor.description] 
actors_df = pd.DataFrame(results, columns = [head[0] for head in cursor.description])
actors_df

#After the inner join with film_id column was added to the original table sakila.actor. Renaming the columns with the aid of info from .description

,actor_id,first_name,last_name,last_update,actor_id,film_id,last_update
0,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,1,2006-02-15 05:05:03
1,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,23,2006-02-15 05:05:03
2,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,25,2006-02-15 05:05:03
3,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,106,2006-02-15 05:05:03
4,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,140,2006-02-15 05:05:03
...,...,...,...,...,...,...,...
5457,200,THORA,TEMPLE,2006-02-15 04:34:33,200,879,2006-02-15 05:05:03
5458,200,THORA,TEMPLE,2006-02-15 04:34:33,200,912,2006-02-15 05:05:03
5459,200,THORA,TEMPLE,2006-02-15 04:34:33,200,945,2006-02-15 05:05:03
5460,200,THORA,TEMPLE,2006-02-15 04:34:33,200,958,2006-02-15 05:05:03
5461,200,THORA,TEMPLE,2006-02-15 04:34:33,200,993,2006-02-15 05:05:03

# Challenge 1 - Working with JSON files
Import the pandas library.

In [ ]:
# your code here

# Already imported above

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [18]:
nasa = pd.read_json("/Users/caionunez/Desktop/Ironhack/Week2/lab-import-export/your-code/nasa.json")

Now that we have loaded the data, let's examine it using the head() function.

In [20]:
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [21]:
nasa["fall"].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [22]:
# your code here

nasa.to_json('nasa-output.json',orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [1]:
#Your pandas import here:

#Already imported above

In [23]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [24]:
# Your code here:

shuttle = pd.read_csv(tst_url, sep = ' ', names = cols)

Let's verify that this worked by looking at the `head()` function.

In [25]:
# Your code here:

shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [26]:
# Your code here:

shuttle.to_csv("shuttle.csv", index=False, sep=',')

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [27]:
# Your code here:

astronaut = pd.read_excel("/Users/caionunez/Desktop/Ironhack/Week2/lab-import-export/your-code/astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [28]:
# Your code here:

astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [29]:
# Your code here:

astronaut["Undergraduate Major"].value_counts()

Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Astronomy                                 1
Marine Engineering & Nautical Science     1
Philosophy                                1
Bioscience                                1
Military Science                          1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [30]:
# Your code here:

astronaut.to_csv("astronaut.csv", index = False, sep = "\t")

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [15]:
# Your code here: